When validating addresses, if several results are found that could potentially be the correct address, the **Address Validation Results** page is displayed. This page shows the potential addresses and allows the user to select the correct address.

After selecting and validating the address, depending on the setting, the [address data comparison](../compare-address/) is displayed and allows the user to add or adjust the data. 

##### Why are multiple addresses displayed?

In some cities or towns, for example, street names are used more than once and thus cannot be clearly assigned without specifying the correct postal code. In some cases street names are very similar and abbreviated or misspelled street names cannot be clearly identified.