Werden bei der Validierung von Adressen mehrere Ergebnisse gefunden, die potentiell die korrekte Adresse sein könnten, wird die Seite **Adressvalidierungs-Ergebnisse** angezeigt. Diese Seite zeigt die potentiellen Adressen und erlaubt dem Anwender die korrekte Adresse auszuwählen.

Nach der Auswahl und Bestätigung der Adresse wird, je nach Einstellung, der [Adressdatenvergleich](../compare-address/) angezeigt und erlaubt dem Anwender die Daten zu ergänzen oder anzupassen. 

##### Warum werden mehrere Adressen angezeigt?

In einigen Städten oder Orten werden zum Beispiel Straßennamen mehrfach verwendet und können so, ohne Angabe der korrekten Postleitzahl nicht eindeutig zugeordnet werden. Teilweise sind zudem Straßennamen sehr ähnlich und abgekürzte oder falsch geschriebene Straßennamen können so nicht eindeutig erkannt werden.